*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: url("https://i.pinimg.com/originals/8f/24/dd/8f24dd07579f5ca65d78c8a279e0bac4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-size: 4rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #cfcdcd;
  text-shadow: 5px 5px #3b64bd;
  text-align: center;
  border: 10px solid #ccc;
  padding: 10px;
  margin: 3rem;
}
.main {
  display: flex;
  justify-content: space-around;
}

.list {
  margin-top: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
  background-color: #6b6b6b;
  border: 7px solid #ccc;
}

.avatar-item {
  height: 320px;
  display: inline-block;
  border: 5px solid #ccc;
  position: sticky;
  position: -webkit-sticky;
  background-color: #000;

  top: calc(50% - 205px);
}

.avatar {
  width: 300px;
  position: relative;
}

.part {
  width: 300px;
  height: 310px;
  position: absolute;
  left: 0;
  top: 0;
}

.item-list {
  margin-top: 1rem;
  display: flex;
  left: 5px;
  flex-wrap: wrap;
  background: #ccc;
}

@media (max-width: 1150px) {
  .item-list {
    max-width: 700px;
  }
  .main {
    flex-direction: column;
    align-items: center;
  }
  .avatar-item {
    position: relative;
    margin-bottom: 50px;
  }
}

.part-list {
  max-width: 700px;
  margin-right: 0;
  text-align: center;
}
.list {
  max-width: 700px;
  text-align: center;
  color: #000;
  text-shadow: 2px 2px #fff;
}

li {
  list-style: none;
  margin: 10px;
  background-color: bisque;
  border-radius: 1rem;
}

li:hover {
  cursor: pointer;
  filter: brightness(130%);
}

.random {
  position: absolute;
  bottom: -50px;
  left: 60px;
}

button {
  width: 10rem;
  height: 2rem;
  border: 2px dotted #fff;
  background-color: brown;
  text-shadow: 1px 1px #fff;
  border-radius: 10px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
}

button:hover {
  cursor: pointer;
  border: 2px dotted rgb(42, 7, 7);
  background-color: rgb(176, 86, 86);
  text-shadow: 2px 2px #000;
  color: #fff;
}
